GCP_SERVICE_ACCOUNT_PATH="credentials/file.json"
GCP_STORAGE_BUCKET_NAME="storage-bucket-name"
CORS_ORIGINS="http://example.com:80"
VOYAGE_AI_KEY="api-key-secret"
SQLALCHEMY_DATABASE_URL="postgresql+asyncpg://postgres_user:DbPassword@localhost/db_name"
EMBEDDINGS_MODEL="embedding-model-name"
